* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}

main {
  color: #0000008c;
  margin-bottom: 60px;
}

.especialidades-links {
	display: flex;	
	justify-content: space-evenly;	
	max-width: 1024px;
	padding: 0px 200px 0px 200px;	
	margin: auto;	
}

.especialidades-links a {
  padding: 10px;
  text-decoration: none;
  color: gray;  
  border-bottom: 3px solid lightblue;
}

.especialidades-links a:hover {
  color: lightgreen;
}

.titulo-especialidades {
	display: flex;
	justify-content: center;
	max-width: 1024px;
	margin: auto;
	font-weight: bold;
	font-size: 25px;
}

.especializacao {
	display: flex;
	justify-content: center;
	text-align: center;
	max-width: 1024px;
	margin: auto;
	margin-top: 50px;
}

.box-tabela-especialista {
  display: flex;
  height: 240px;
  padding: 0 20px;
}

.box-tabela-especialista img {
  width: 30%;
  height: 100%;
  object-fit: cover;
}

.tabela-especialistas {
  border-spacing: 0;
  text-align: left;
  width: 70%;
  height: 100%;
}

.tabela-especialistas thead tr {
  background-color: #00cad1;
  color: #fff;
}

.tabela-especialistas tr {
  background-color: #f1f1f1;
  color: #585757;
  font-weight: 500;
}

.tabela-especialistas tbody tr:nth-of-type(2n+1) {
  background-color: #cdcdcd;
  border: 1px solid #f1f1f1;
}

.tabela-especialistas th, .tabela-especialistas td  {
  padding: 10px;
}

.sessao-especialidade {
  margin-top: 40px;
}

.container-titulo {
  padding: 0 20px;
}


/*** Responsivo tela de Especialidades **/

@media (max-width:  426px){
	.box-tabela-especialista {
		margin: 0px;
		padding: 0px;
	}
}


@media (max-width: 768px) {
	.box-tabela-especialista img {
		display: none;
	}
	.tabela-especialistas  {
		width: 100%;
	}

}

